<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark shadow" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Football Picks Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#user-sidebar-menu" aria-controls="menu-collapse" aria-expanded="false" aria-label="Toggle sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
    </div>
  </div>
</nav>