<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-nowrap">Football Picks Hub</h1>
      <p class="lead">Join the excitement and bring the thrill of NFL game days to a whole new level. Whether you're a football fanatic or a casual viewer, Football Picks Hub adds an extra layer of fun to every game.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
          <%= link_to 'Log in', new_user_session_path, class: "btn btn-secondary btn-lg"%>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3 image-fluid" src="<%= asset_path('football.jpg') %>" alt="">
    </div>
  </div>
</div>